includes:
    - ../../vendor/larastan/larastan/extension.neon

parameters:
    level: 8
    paths:
        - app
        - config
        - database
        - routes
    excludePaths:
        - vendor
    tmpDir: .phpstan.cache
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
